@use "./variaveis";

.atores {
    position: relative;

    .title {
        @media(max-width: 767px) {
            padding: 0px 20px;
        }
    }
}

.atores__content {
    position: relative;
    z-index: 2;
    padding: 40px 0;
    width: 100%;
    background-image: url("../images/banner_horizontal.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 767px) {
        padding: 30px 20px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: variaveis.$filter_color;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.carousel {
    overflow-x: scroll;
    border-radius: 10px;
    position: relative;
    z-index: 2;

    &::-webkit-scrollbar {
        background-color: #3771c8b7;
        width: 100%;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #ebeaea;
        border-radius: 10px;
        cursor: pointer;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__galery {
        position: relative;
        z-index: 2;
        padding: 30px 0;
        display: flex;
        width: calc(1025px * 2);

        &__card {
            width: 9.1%;
            height: 350px;
            margin-right: 1%;
            background-color: #3771C8;
            border-radius: 10px;

            &__image {
                border-radius: 10px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                max-height: 200px;
            }

            &__name {
                padding: 10px;

                h4 {
                    font-weight: 100;
                    color: variaveis.$primary_color;
                }

                p {
                    font-size: 16px;
                }

            }

        }
    }
}